# Virtual environment
.venv

# Environment
.env

# Database
*.sqlite3

# Media
/media/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# VS Code
.vscode/

# PyInstaller
/dist/
/build/
*.exe
*.spec

# Environments
.env
.venv/
env/
venv/
env.bak/
venv.bak/
*.env
*.venv

# Logs
*.log
logs/
*.log.*