.defocus {
    position: absolute;
    top: 0;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.611);
}

.icon-add {
    margin-right: 10px;
    font-size: 18px;
}

/* ----------- Form Styles ------------*/

.form-area {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 20px 40px;
}

.form-item {
    display: flex;
    margin: 10px 0;
}

.radio-item {
    display: flex;
}

.form-radio {
    margin: 10px;
    width: 20px;
}

.form-label {
    text-align: left;
    margin: 5px 15px 0 0;
}

.form-input, .form-textarea, .form-select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #b4b4b4;
}

.form-buttons-area {
    display: flex;
    justify-content: center;
}