.flex-between {
    display: flex;
    justify-content: space-between
}

.mb-normal {
    margin-bottom: 15px;
}

.defocus {
    position: absolute;
    top: 0;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.611);
}

.not-found {
    font-size: 20px;
    background-color: var(--red-light-color);
    font-weight: bold;
    margin: 70px 20px;
    padding: 30px;
    border-radius: 10px;
}

.highlight {
    color: red;
    text-decoration-line: underline;
}

.message-area {
    line-height: 1.5;
}

@media only screen and (max-width: 1000px) {
    .not-found {
        font-size: 16px;
        margin: 10px 20px;
        padding: 20px;
    }

    .message-area {
        margin: 0;
        font-size: 16px;
    }
}

/* ----------- Button Styles ------------*/

.button-text {
    margin-left: 10px;
}

 .icon-add {
    font-size: 18px;
}

@media only screen and (max-width: 1000px) {
    .button-text {
      display: none;
    }

    .icon-add {
        margin-right: 0 auto;
        font-size: 18px;
    }
}

/* ----------- Form Styles ------------*/

.form-area {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.form-item {
    display: flex;
    margin: 7px 0;
}

.radio-item {
    display: flex;
}

.form-radio {
    margin: 10px;
    width: 20px;
}

.form-label {
    text-align: left;
    margin: 5px 15px 0 0;
    min-width: fit-content;
}

.form-input, .form-textarea, .form-select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #b4b4b4;
    font-size: 16px;
}

.form-textarea {
    height: 50px;
}

.form-buttons-area {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.modal-title {
    margin: 0 0 15px 0;
}

@media only screen and (max-width: 1000px) {
    .form-select {
        height: 30px;
    }

    .modal-title {
        font-size: 18px;
    }

    .form-label {
        font-size: 14px;
        margin: 5px 15px 0 0;
    }

    .form-input {   
        height: 20px;
    }
}