
/* ----------- Colors ------------*/

:root {
    --black-color: black;
    --gray-dark-color: rgb(58, 58, 58);
    --gray-light-color: rgb(228, 228, 228);
    --red-dark-color: rgb(178, 15, 15);
    --red-light-color: rgb(239, 182, 182);
  }
  